[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ytmusicapi = "*"
yt-dlp = "*"

[dev-packages]
pyinstaller = "*"
nuitka = "*"
zstandard = "*"

[requires]
python_version = "3.9"

[scripts]
build = "nuitka --follow-imports --onefile --assume-yes-for-downloads pplay.py"
buildpi = "pyinstaller pplay.py --onefile --collect-all ytmusicapi  --distpath dist"
